 body, html {
	font-family: 'Bernard', sans-serif;
	margin: 0;
	font-size: 20px;
	background-color: #e6e1d6;
}
header {
	display: block;
	width: 100%;
}
  
.naslovna {
	background-image: url("pictures/guitar-header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
    height: 450px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #C89322;
}
li {
	float: left;
    padding: 0px;
    text-decoration: none;
    font-size: 17px;
    width: 20%; 
    text-align: center;
}
  
.text-block {
    font-family: 'Courier New';
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
	padding-right: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
.active {
    background-color: #F1BF56;
    color: black;
    font-weight: bold;
  }
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
    background-color: #775307;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
	font-size: 1.5em;
    text-align: center;
}
.text-block a {
	color: white;
	text-decoration: none;
}
.text-block a:hover {
	color: #f3be4c;
}

footer {
	background-color: rgb(200, 147, 34);
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 55px;
	
}
p {
	margin: 0em;
	line-height: 1.4em;
	letter-spacing: 1px;
}

/* gallery */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  
  }
  
/* četiri stupca koji su jedan pored drugog */
.column {
    -ms-flex: 24%; /* IE10 */
    flex: 24%;
    max-width: 24%;
    padding: 2px 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    font-style: italic;
  }
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
@media screen and (min-width : 124px) and (max-width: 650px) {
    .column {
      -ms-flex: 90%;
      flex: 90%;
      max-width: 90%; 
    }
    .column figcaption {
      font-size: 20px;
    }
    .naslovna{
      background-image: url("pictures/mguitar.png");
      height: 260px;
      position:relative;
    }
}
@media screen and (min-width : 651px) and (max-width: 900px) {
    .column {
      -ms-flex: 48%;
      flex: 48%;
      max-width: 48%;
    }
    .naslovna{
      background-image: url("pictures/mguitar.png");
      height: 260px;
      position:relative;
    }
    
}
